.input-next, .input-prev {
    width: 200px;
    height: 70px;
    border-radius: 5px;
    box-shadow: -10px -10px 15px black;
    font-size: 2rem;

}

.container-slider {
    display: flex;
    padding: 15px;
    min-height: 35vh;
    justify-content: space-between;
    background-color: darkslateblue;
    align-items: center;
    border-top:3px solid gray;
}

.container-slider-card {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 40%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-slider {
    /* object-fit: cover; */
    max-width: 90%;
    max-height: 90%;
    border-radius: 30px;
    border: 2px solid gray;
    box-shadow: -10px -10px 15px black;
}

.container-slider-title > p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.slider-btn {
    display: flex;
}

.checkboxs {
    height:3vh;
}

.container-slider-chekboxs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height:100%;
    background-color: cornflowerblue;
    font-size: 1.1rem;
    font-weight: bold;
}
label {
    display: flex;
    align-items: center;
}

.cb3-in-div {
    display: flex;
}
.cb3 {
border-radius: 5px;
}

.inactive {
display: none;
}

/* Media Query pour les écrans de téléphone portable */
@media only screen and (max-width: 767px) {
    .input-next, .input-prev {
        width: 50px;
        height: 70px;
        font-size:1.5rem;
}

.container-slider-chekboxs {
    font-size: 0.8rem;
    font-weight: bold;
}

.container-slider-title > p {
    font-size: 1.2rem;
}

.container-slider-card {
    
    height: 70%;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
}
}
